meta(http-equiv='x-ua-compatible', content='ie=edge')
meta(charset='utf-8')
title
  block page_title
    =site.title
meta(name='viewport', content='width=device-width, initial-scale=1')
block page_description
  meta(name="description" content=site.description)
link(rel='stylesheet', href='css/style.css')
